.eae-step {
	font-family: sans-serif;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

#eae-submit-wrapper {
	position: fixed;
	width: 1000px;
	height: 500px;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -500px;
	background-color: #ffffff;
	border: solid 1px #cccccc;
}

.eae-step .header, .eae-step .footer {
	position: absolute;
	width: 100%;
	left: 0px;
	background-color: #eeeeee;
}

.eae-step .body {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50px;
	height: 400px;
}

.eae-step .body .container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.eae-step .body .container > .clear {
	overflow: auto;
}

.eae-step .body .task, .eae-step .body .parameters, .eae-step .body .cluster {
	position: absolute;
	height: 100%;
	top: 0px;
	right: 0px;
}

.eae-step .body .task div, .eae-step .body .parameters div, .eae-step .body .cluster div {
	display: block;
}

.eae-step .body .task > .clear, .eae-step .body .parameters > .clear, .eae-step .body .cluster > .clear {
	padding: 20px;
}


.task .running , .task select{
	display: block;
	width: 100%;
	height: 60px;
	border: solid 1px #dddddd;
	padding: 10px;
	margin-bottom: 5px;
}

.running .change {
	color: #5b8ecc;
	font-size: 10px;
	text-decoration: underline;
}

.running .details {
	color: #aaaaaa;
	font-size: 13px;
}

.eae-step .task .container {
	padding-top: 215px;
}

#cluster-container {
	width: 100%;
}

.eae-step .body .parameters .container {
	padding-top: 98px;
	width: 100%;
}

.eae-step .body .parameters .container > .clear {
	padding: 0 20px 20px 20px;
}

.eae-step .body .cluster {
	width: 33.33333%;
	border-left: solid 1px #eeeeee;
}

.eae-step .body .cluster .container {
	padding-top: 100px;
}

.eae-step .header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0px 20px;
	font-weight: bold;
}

.eae-step .header .uuid {
	float: right;
	color: #bbbbbb;
	font-size: 11px;
}

.eae-step .footer {
	bottom: 0px;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	text-align: right;
}

.eae-step .footer .button {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	background-color: #cccccc;
	color: #ffffff;
}

.badge {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 100%;
	color: #ffffff;
	background-color: #555555;
}

#eae-cluster-list {
	width: 100%;
	padding-left: 0;
	list-style: none;
	margin: 0px;
	padding: 0 20px 20px 20px;
}

#eae-cluster-list li {
	height: 60px;
	border: solid 1px #dddddd;
	padding: 10px;
	margin-bottom: 5px;
}

#eae-cluster-list li:hover {
	cursor: pointer;
	background-color: #f7f7f7;
}

#eae-cluster-list li .status {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

#eae-cluster-list li .status.ok {
	background-color: #079904;
}

#eae-cluster-list li .status.not {
	background-color: #ce063e;
}

#eae-cluster-list li .details {
	color: #aaaaaa;
	font-size: 13px;
}

#eae-taskattachments-list {
	list-style: none;
	margin: 0px;
	padding: 0 20px 20px 20px;
}

#eae-taskattachments-list li {
	height: 25px;
	line-height: 25px;
	margin-bottom: 5px;
	color: #999999;
}

#eae-taskattachments-list li span {
	font-weight: bold;
	margin: 5px;
}

#eae-taskattachments-list li span.data {
	color: #c922c6;
}

#eae-taskattachments-list li span.script {
	color: #ffaf11;
}

p {
	padding-top: 5px;
	font-size: 12px;
}

.eae-param-btn {
	padding-top: 4px;
    margin-left: 2px;
    padding-bottom: 5px;
    margin-bottom: 1px;
}

.clear {
	position: relative;
	width: 100%;
	height: 100%;
}

.tick {
	display: none;
    float: right;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    display: none;
    background-color: #ebebeb;
    text-align: center;
    line-height: 60px;
    border: solid 1px #dddddd;
    margin-right: -11px;
    margin-top: -29px;
}

.chosen .tick {
	display: block;
}

input {
	width: 300px;
	height: 30px;
	border: solid 1px #dddddd;
	margin-bottom: 5px;
	padding: 0 5px;
}